header {
  display: flex;
  background-color: var(--color-white);
  height: 6.4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid var(--color-gray-800);
}

.head-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo-wrapper {
  display: flex;
  align-items: center;
}

header .logo {
  width: 13.5rem;
}

header .slogan {
  color: var(--color-white);
  font-size: 2.5rem;
  margin-left: 1rem;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  font-weight: 600;
}

header nav a {
  color: var(--color-gray-800);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  margin-left: 2rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

header nav a:hover {
  color: var(--color-btn-success);
}

.main-menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 0 1rem;
  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
}

.main-menu nav a {
  color: var(--surface-100);
  display: block;
  padding: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.main-menu nav a:hover {
  color: var(--color-main-darker);
}

@media screen and (max-width: 720px) {
  header nav {
    display: none;
  }

  .main-menu.active {
    opacity: 1;
    pointer-events: all;
  }

  .main-menu.active nav {
    transform: translateY(3rem);
  }
}
