.pastor .container {
  flex-direction: row !important;
  align-items: flex-start !important;
}

.pastor .pr-info {
  padding: 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pastor .pr-info p {
  font-size: 1.9rem;
  line-height: 4rem;
  font-weight: 300;
}

.pastor .container img {
  height: 35rem;
  align-self: flex-end;
}

.pastor .heading {
  padding-left: 0;
}

@media (max-width: 700px) {
  .pastor .container {
    flex-direction: column !important;
    align-items: center !important;
  }

  .pastor .container img {
    height: 24rem;
  }

  .pastor .pr-info {
    padding: 0;
  }

  .pastor .container img {
    align-self: center;
  }
}
