:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-primary: #181818;
  --color-btn-success: #2e3ee8;
  --color-main-darker: #00155e;
  --color-gray-10: ##f8f8f8;
  --color-gray-100: #f1f1f1;
  --color-gray-200: #dadada;
  --color-gray-800: #545454;
  --color-gray-900: #3c3c3c;

  --elevation-z-top: 999;
  --elevation-z-inter: 500;
  --elevation-z-base: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: var(--color-white);
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: auto;
}

.btn-main-menu {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .section-image {
  position: relative;
  width: 100%;
}

main .section-image img {
  width: 100%;
  height: 47rem;
  object-fit: cover;
}

main .section-image .overlay-image {
  width: 100%;
  height: 100%;
  z-index: var(--elevation-z-base);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

main .section-image .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: var(--elevation-z-inter);
}

main .section-image h1 {
  font-size: 5rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}

main .section-image h3 {
  font-size: 2rem;
  letter-spacing: 18px;
  text-transform: uppercase;
  margin-top: 2rem;
}

main .qrcode {
  width: 14rem;
}

main input {
  height: 5rem;
  border: 1px solid rgb(220 220 220);
  border-radius: 0.6rem;
  margin-top: 2rem;
  padding: 0.2rem 0.9rem;
  outline: none;
}

main button {
  background: var(--color-btn-success);
  border: 0;
  height: 4.6rem;
  padding: 0 11rem;
  border-radius: 0.6rem;
  color: var(--color-white);
  font-weight: 600;
  margin-top: 2rem;
  cursor: pointer;
  transition: background 250ms ease-in-out;
  font-size: 1.3rem;
}

main button:hover {
  background: #2732ad;
}

main small {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
}

.main-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  transition: opacity 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  flex-direction: column;
  padding-top: 2rem;
  z-index: var(--elevation-z-top);
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
}

main .section-wrapper {
  padding: 7rem 0;
  width: 100%;
}

main .section-wrapper .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.map-wrapper {
  width: 100%;
  height: 50rem;
  position: relative;
  -webkit-box-shadow: 31px 25px 0 4px var(--color-main-darker);
  box-shadow: 31px 25px 0 4px var(--color-main-darker);
}

.map-wrapper #map {
  border: 3px solid var(--color-gray-200);
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.heading {
  font-size: 3.4rem;
  padding-left: 1rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: var(--color-main-darker);
  text-align: center;
}

@media screen and (max-width: 720px) {
  .btn-main-menu {
    display: block;
    cursor: pointer;
  }

  main .section-image h3 {
    letter-spacing: 8px;
  }

  .heading {
    font-size: 2.4rem;
  }

  main .section-image h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  main button {
    font-size: 1rem;
    padding: 0 8rem;
  }
}

.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 2rem;
}
